<button routerLink="/home" class="button_back" mat-raised-button color="primary">Back Home</button>

<div class="main-div">
  <mat-card class="example-card">
    <form name="form" (ngSubmit)="f.form.valid && addAppointment()" class="example-form" #f="ngForm">

      <!-- animalName Input -->
      <mat-form-field appearance="fill" class="example-full-width">
        <mat-label>Animal Name</mat-label>
        <input matInput name="animalName" [(ngModel)]="appointment.animalName" required>
      </mat-form-field>

      <!-- dateHour Input -->
      <mat-form-field appearance="fill" class="example-full-width">
        <mat-label>Appointment Date</mat-label>
        <input matInput name="appointmentDateTime" type="datetime-local" [(ngModel)]="appointment.appointmentDateTime" required>
      </mat-form-field>

      <!-- doctorName Select -->
      <mat-form-field appearance="fill" class="example-full-width">
        <mat-label>Choose a doctor</mat-label>
        <mat-select  name="doctorId" [(ngModel)]="appointment.doctorId" required>
          <mat-option *ngFor="let doctor of doctors" value="{{doctor.id}}">{{doctor.name}}</mat-option>
        </mat-select>
      </mat-form-field>

      <!-- ServiceList to schose from -->
      <app-service-list (serviceEvent)="addService($event)"></app-service-list>

      <button type="submit" mat-flat-button color="warn" class="example-full-width">Add this new Appointment</button>


    </form>
  </mat-card>

  <button routerLink="/new-service" class="button_service" mat-raised-button color="accent">
    <mat-icon>plus_one</mat-icon>
  </button>


</div>
