<div class="main-div">

  <mat-card class="example-card">

    <form name="form" (ngSubmit)="f.form.valid && addAppointment()" class="example-form" #f="ngForm">

      <!-- animalName Input -->
      <mat-form-field appearance="fill" class="example-full-width">
        <mat-label>Animal Name</mat-label>
        <input matInput name="animalName" [(ngModel)]="appointment.animalName" required>
      </mat-form-field>

      <!-- dateHour Input -->
      <mat-form-field appearance="fill" class="example-full-width">
        <mat-label>Appointment Date</mat-label>
        <input matInput name="dateHour" type="datetime-local" [(ngModel)]="appointment.dateHour" required>
      </mat-form-field>

      <!-- doctorName Input -->
      <mat-form-field appearance="fill" class="example-full-width">
        <mat-label>Doctor Name</mat-label>
        <input matInput name="doctorName" [(ngModel)]="appointment.doctorName" required>
      </mat-form-field>

      <app-service-list></app-service-list>

      <button type="submit" mat-flat-button color="warn" class="example-full-width">Add this new Appointment</button>


    </form>
  </mat-card>

  <button routerLink="/new-service" class="button_service" mat-raised-button color="accent">
    <mat-icon>plus_one</mat-icon>
  </button>


</div>
