.example-full-width {
  width: 100%;
}

.example-card {
  max-width: 400px;
}

.main-div {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button_back{
  border-radius: 0px  10px  10px 0px;
  margin-top: 21px;
}



