<button routerLink="/home" class="button_back" mat-raised-button color="primary">Back Home</button>

<div class="main-div">
  <mat-card class="example-card">

    <mat-radio-group aria-label="Select an option" [(ngModel)]="appointment.status">
      <mat-radio-button value="created">Created</mat-radio-button>
      <mat-radio-button value="confirmed">Confirmed</mat-radio-button>
      <mat-radio-button value="closed" #closed>Closed</mat-radio-button>
    </mat-radio-group>

    <form name="form" (ngSubmit)="f.form.valid && editAppointment()" class="example-form" #f="ngForm">

      <!-- animalName Input -->
      <mat-form-field appearance="fill" class="example-full-width">
        <mat-label>Animal Name</mat-label>
        <input matInput name="animalName" [(ngModel)]="appointment.animalName" required>
      </mat-form-field>

      <!-- dateHour Input -->
      <mat-form-field appearance="fill" class="example-full-width">
        <mat-label>Appointment Date</mat-label>
        <input matInput name="appointmentDateTime" type="datetime-local" [(ngModel)]="appointment.appointmentDateTime"
               required>
      </mat-form-field>

      <!-- doctorName Select -->
      <mat-form-field appearance="fill" class="example-full-width">
        <mat-label>Choose a doctor</mat-label>
        <mat-select name="doctorId" [(ngModel)]="appointment.doctor.id" required>
          <mat-option *ngFor="let doctor of doctors" [value]="doctor.id">{{doctor.name}}</mat-option>
        </mat-select>
      </mat-form-field>

      <!-- ServiceList to schose from -->
      <app-service-list [selectedServiceId]="selectedServices" (serviceEvent)="addService($event)"></app-service-list>

      <mat-form-field appearance="fill" class="example-full-width" >
        <mat-label>Add a diagnostic</mat-label>
        <textarea [required]="closed.checked" name="diagnostic" [(ngModel)]="appointment.diagnostic" matInput
                  style="height: 80px"></textarea>
      </mat-form-field>

      <button type="submit" mat-flat-button color="warn" class="example-full-width">Edit this Appointment</button>

    </form>
  </mat-card>
</div>
