<mat-form-field>
  <mat-label>Find doctor</mat-label>
  <input matInput (keyup)="applyFilter($event)" placeholder="Doctor name..." #input>
</mat-form-field>

<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" matSort>

    <!-- animalName Column -->
    <ng-container matColumnDef="animalName">
      <th mat-header-cell *matHeaderCellDef> Animal</th>
      <td mat-cell *matCellDef="let row"> {{row.animalName}} </td>
    </ng-container>

    <!-- doctorName Column -->
    <ng-container matColumnDef="doctorName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Doctor</th>
      <td mat-cell *matCellDef="let row"> {{row.doctor.name}} </td>
    </ng-container>

    <!-- dateHour Column -->
    <ng-container matColumnDef="appointmentDateTime">
      <th mat-header-cell *matHeaderCellDef> Date&Hour</th>
      <td mat-cell *matCellDef="let row"> {{row.appointmentDateTime}} </td>
    </ng-container>

    <!--  status Column -->
    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef> Status</th>
      <td mat-cell *matCellDef="let row">
        <strong class="created_status" *ngIf="row.status==='created'">{{row.status}}</strong>
        <strong class="confirmed_status" *ngIf="row.status==='confirmed'">{{row.status}}</strong>
        <strong *ngIf="row.status==='closed'">{{row.status}}</strong>
      </td>
    </ng-container>

    <!-- diagnostic Column -->
    <ng-container matColumnDef="diagnostic">
      <th mat-header-cell *matHeaderCellDef> Diagnostic</th>
      <td mat-cell *matCellDef="let row">
        <button mat-raised-button (click)="openDialog(row)">See Diagnostic</button>
      </td>
    </ng-container>

    <!-- totalCost Column -->
    <ng-container matColumnDef="totalCost">
      <th mat-header-cell *matHeaderCellDef> Total Cost</th>
      <td mat-cell *matCellDef="let row"> {{row.totalCost}} </td>
    </ng-container>

    <!-- edit Column -->
    <ng-container matColumnDef="edit">
      <th mat-header-cell *matHeaderCellDef> Edit</th>
      <td mat-cell *matCellDef="let row">
        <a mat-flat-button [routerLink]="['/edit-appointment',row.id]">
          <mat-icon aria-hidden="false" aria-label="Example home icon">edit</mat-icon>
        </a>
      </td>
    </ng-container>

    <!-- delete Column -->
    <ng-container matColumnDef="delete">
      <th mat-header-cell *matHeaderCellDef> Delete</th>
      <td mat-cell *matCellDef="let row">
        <button *ngIf="row.status==='closed'" mat-flat-button (click)="deleteAppointment(row.id)">
          <mat-icon aria-hidden="false" aria-label="Example home icon">delete</mat-icon>
        </button>
        <button *ngIf="!(row.status==='closed')" disabled mat-flat-button (click)="deleteAppointment(row.id)">
          <mat-icon aria-hidden="false" aria-label="Example home icon">delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    <!-- Row shown when there is no matching data. -->
    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="4">Doesn't exist a doctor with name: "{{input.value}}"</td>
    </tr>

  </table>

  <mat-paginator [pageSizeOptions]="[5]"></mat-paginator>
</div>

